body {
    background-color: #000815;
    box-sizing: border-box;    
}

.nav-style {
    background-image: url("D1earthSplash2.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.navText-style {
    font-family: 'Montserrat Subrayada', sans-serif;
    font-size: 35px;
}

#currentDay {
    color: white;
    background-color: #0008153b;
    font-family: 'Montserrat Alternates', sans-serif;
    border-radius: 25px;
    font-size: 18px;
    /* font-weight: bold; */
    padding:  10px 10px 5px 10px;
    margin: 0 0 0 200px;
}

.btn-style {
    color: white;
    border-color: white;

}

.btn-style:hover, .btn-style:active, .btn-style:link {
    background-color: #3c4457;
    color:#212529;
    border-color: #3c4457;
}

.jumbotron-style {
    display: inline-block;
    position: relative;
    left: 250px;
    width: 1100px;
    height: 600px;
    /* float: right; */
    background-color: #000815;
    text-align: left;
}

.recent-search {
    float: left;
    position: absolute;
    text-align: right;
    width: 250px;
    height: 800px;
    background-image: url("D1traveler.png");
    background-repeat: no-repeat;
    background-size: cover;

}

.recent-title {
    color: white;
    /* font-family: 'Orbitron', sans-serif; */
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 25px;
    padding: 10px;
  
}

.recentList {
    /* background-color: #ffffffb4; */
    background-color: #00081577;
    color: white;
    font-family: 'Montserrat Alternates', sans-serif;
    border-radius: 10px;
    text-align: left;
    font-size: 18px;
    /* font-weight: bold; */
    margin: 10px;
}

.cityText {
    color: white;
}

.hRule {
    border-color: white;
    padding-bottom: 5px;
}

.weatherCard {
    background-color: #c4c9f8;
    font-family: 'Montserrat Alternates', sans-serif;
    position: relative;
    display: inline-block;
    width: 230px;
    margin: 5px;
}

.weatherSpecs {
    display: inline-block;
}

.todaySpecs {
    float: left;
    width: 200px;
    border-radius: 15px;
    background-color: #ffffff5e;
    margin: 10px;
    padding: 5px;
    color: white;
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 20px;
    text-align: center;
}

.weatherP {
    color: #000815;
    font-weight: bold;
}


.weatherIcon {
    float: left;   
}

.fiveDayTitle {
    color: white;
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 25px;
}